h2
    text-align: center
    margin: 100px auto
    font-size: 2.0em

.section1
    text-align: center
    display: grid
    grid-gap: 5%
    grid-template-columns: 1fr 1fr
    justify-content: center

    p
        padding: 40px 0
    
    