nav
    position: fixed
    width: 100%
    z-index: 1

    ul
        list-style: none
        background: rgba(0,0,0,0)
        overflow: hidden
        color: #fff
        padding: 0
        text-align: center
        margin: 0
        transition: 1s

        li
            display: inline-block
            padding: 20px

            &:hover
                background-color: #777

            a
                text-decoration: none
                color: #fff
                font-size: 25px

    .menu-icon
        width: 100%
        background: #000
        text-align: right
        box-sizing: border-box
        padding: 15px 24px
        cursor: pointer
        color: #fff
        display: none

.black ul
        background: #000

.pimg1
    position: relative
    min-height: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-image: url('/../public/img/header.jpg')
    background-attachment: fixed
    opacity: 0.7

    #mainTitle
        width: 100%

    .ptext
        position: absolute
        width: 100%
        text-align: center
        top: 40%
        font-size: 2.6em
        color: #fff
        font-family: $fatFace

        span
            font-family: $shadowLight

// MEDIA QUERY

@media(max-width: 685px)
    #main-title
        font-size: 1.7em


@media(max-width: 580px)
    nav
        ul
            max-height: 0px
            background: #000
            color: #fff

            li
                box-sizing: border-box
                width: 100%
                padding: 24px 0
                text-align: center

        .showing
            max-height: 20em

        .menu-icon
            display: block

    .black ul
            background: #000

    .pimg1
        font-size: 0.8em


    