header
    width: 100%
    height: 100%

    .pimg1
        position: absolute
        min-height: 100%
        width: 100%
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        background: #333 url('/../public/img/header2.jpeg')
        background-attachment: fixed
        opacity: 0.8
        z-index: -1

    nav
        position: fixed
        width: 100%
        z-index: 10001

        .menu-icon
            width: 100%
            background: #000
            opacity: 0.8
            text-align: right
            box-sizing: border-box
            padding: 15px 24px
            cursor: pointer
            color: #fff
            display: none

        ul
            font-family: $shadowLight
            list-style: none
            background: rgba(0,0,0,0)
            overflow: hidden
            color: #fff
            padding: 0
            text-align: center
            margin: 0
            transition: 1s

            li
                display: inline-block
                padding: 20px

                &:hover
                    text-decoration: underline

                a
                    text-decoration: none
                    color: #fff
                    font-size: 2.5em

        

    .ptext
        margin: 0 auto
        position: absolute
        width: 100%
        text-align: center
        top: 40%
        font-size: 2.6em
        color: #fff
        font-family: $fatFace

        .main-title
            width: 100%
            opacity: 1.0
            
            h1
                letter-spacing: 5px

            p
                font-family: $shadowLight
                color: #000

        .btn
            color: #fff
            margin: 150px auto 0
            width: 20%

            a
                text-decoration: none
                color: #fff

                span
                    border: 2px solid #fff
                    padding: 0 5px
                    width: auto
                    
                    &:hover
                        @extend %header-btn-hover

            #arrow
                margin-top: 50px

        #mobile-arrow
            display: none

.black ul
        background: #000
        opacity: 0.8

// MEDIA QUERY

@media(max-width: 900px)
    header
        .ptext
            font-size: 1.8em

            span
                color: #000

            .btn span
                border: 2px solid black
                
    
@media(max-width: 768px)
    header
        .ptext
            font-size: 1.4em


@media(max-width: 580px)
    .black ul
        background: #000
        
    header
        .ptext
            font-size: 1.2em

            .btn
                display: none 

            #mobile-arrow
                display: inline-block
                margin-top: 250px
                color: #fff
                
                a
                    color: #fff
                    font-size: 1.5em
                

        nav
            background-color: #000
            opacity: 0.8

            ul
                max-height: 0px
                background: #000
                opacity: 0.9
                color: #fff

                li
                    box-sizing: border-box
                    width: 100%
                    padding: 24px 0
                    text-align: center

            .showing
                max-height: 30em
                width: 100%
                opacity: 0.9
                color: #000

            .menu-icon
                display: block


    