.section2-wrapper
    background-color: #fff
    text-align: center
    width: 100%
    padding: 100px 0
    margin: 0 auto

    h2
        margin: 100px auto
        font-size: 2.0em

    .section2
        display: grid
        grid-gap: 25px
        grid-template-columns: 1fr 1fr
        justify-content: center

        .skill-card

            .percent-count
                width: 25%
                margin: 0 auto

        .progress-bar
            width: 406px
            height: 20px
            background-color: #999
            border-radius: 13px
            padding: 3px
            margin: 50px auto

            .progress
                width: 20px
                height: 20px
                border-radius: 10px
                background-color: #555