html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  color: #666; }

nav {
  position: fixed;
  width: 100%;
  z-index: 1; }
  nav ul {
    list-style: none;
    background: transparent;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s; }
    nav ul li {
      display: inline-block;
      padding: 20px; }
      nav ul li:hover {
        background-color: #777; }
      nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 25px; }
  nav .menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none; }

.black ul {
  background: #000; }

.pimg1 {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/../public/img/header.jpg");
  background-attachment: fixed;
  opacity: 0.7; }
  .pimg1 .ptext {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    font-size: 2.6em;
    color: #fff;
    font-family: "Abril Fatface", cursive; }
    .pimg1 .ptext span {
      font-family: "Shadows Into Light", cursive; }

@media (max-width: 580px) {
  nav ul {
    max-height: 0px;
    background: #000;
    color: #fff; }
    nav ul li {
      box-sizing: border-box;
      width: 100%;
      padding: 24px 0;
      text-align: center; }
  nav .showing {
    max-height: 20em; }
  nav .menu-icon {
    display: block; }
  .black ul {
    background: #000; } }

.section1-wrapper {
  display: grid;
  grid-template-columns: 30%; }
